{% extends 'home/base.html' %}
{% block start %}

    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Tweet</h2>
            <hr>
            
            <!-- <input name="name" type="hidden" value="{{ request.user.username }}"> -->
            <div class="mb-3">
              <label for="exampleInputPassword1"  class="form-label">Content</label>
              <textarea class="form-control"  name="content" >{{t.content}}</textarea>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Image</label>
                <input name="tweet_image" type="file" class="form-control" >
                
              </div>
              
            <button type="submit" class="btn btn-primary">Update Tweet</button>
          </form>

          


    </div>

{% endblock %}